<h1 id='new-poll-title' class='poll-title'></h1>
<div class='new-choice-form-container'>
  <ul id='poll-choices' class='poll-choices'>

  </ul>
  <div class='new-poll-choice-container'>
    <input
      id='new-choice-input'
      type='text'
      class='input'
      placeholder='Add a choice...'
    />
    <button
      id='add-choice-button'
      class='button-primary button-large add-choice-button'
    >Add</button>

  </div>
  <button
    id='publish-poll-button'
    class='button-primary button-large'
  >Publish</button>
</div>